name: "Phpunit"
env:
  APP_ENV: test

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - "8.5"
          - "8.4"
          - "8.3"
          - "8.2"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "xdebug"
          php-version: "${{ matrix.php-version }}"

      - name: "Install dependencies with Composer"
        uses: "php-actions/composer@v6"

      - name: "PHPUnit Tests"
        run: |
          if [ "${{ matrix.php-version }}" = "8.2" ]; then
            echo "Running with coverage"
            XDEBUG_MODE=coverage ./vendor/bin/phpunit --coverage-clover coverage.xml
          else
            echo "Running without coverage"
            ./vendor/bin/phpunit
          fi

      - name: Upload to Codecov
        if: ${{ matrix.php-version == '8.2' }}
        uses: "codecov/codecov-action@v5"
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          verbose: true

