name: "Phpunit"
env:
  APP_ENV: test

on: [push, pull_request]

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - "8.5"
          - "8.4"
          - "8.3"
          - "8.2"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Install dependencies with Composer"
        uses: "php-actions/composer@v6"

      - name: "PHPUnit Tests"
        uses: "php-actions/phpunit@v4"
        env:
          XDEBUG_MODE: ${{ matrix.php-version == '8.2' && 'coverage' || 'off' }}
        with:
          php_version: "${{ matrix.php-version }}"
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          php_extensions: ${{ matrix.php-version == '8.2' && 'xdebug' || '' }}
          args: ${{ matrix.php-version == '8.2' && 'tests --coverage-clover ./coverage.xml' || 'tests' }}

      - name: Upload to Codecov
        if: ${{ matrix.php-version == '8.2' }}
        uses: "codecov/codecov-action@v5"
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          verbose: true

