name: "Rector"
env:
  APP_ENV: test

on: [push, pull_request, workflow_dispatch]

jobs:
  Phpstan:
    name: "Rector"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - "8.5"
          - "8.4"
          - "8.3"
          - "8.2"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"

      - name: "Install dependencies with Composer"
        uses: "php-actions/composer@v6"
        with:
          php_version: "${{ matrix.php-version }}"

      - name: "Run rector"
        run: "vendor/bin/rector"
